doctype html

html
	head
		link(rel='stylesheet', href='/css/rishonim.css?' + new Date())
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(href="https://fonts.googleapis.com/css?family=Neucha|Marck+Script|Poor+Story|Roboto" rel="stylesheet")
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		title RISHONIM
		meta(name="Description" content="Центр развития")
		meta(name="Keywords" content="")
		meta(property="og:type" content="game")
		meta(property="og:url" content=currentSite)
		meta(id="og-title" property="og:title" content="")
		meta(property="og:description" content="")
		meta(property="og:image" content=currentSite + "/images/rishonim/logo.jpg")
		meta(property="og:image:width" content="200")
		meta(property="og:image:height" content="200")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="mailru-domain" content="aLYH9chgFsz9O7e3")
	body
		div#content
			div.row
				div.col-2
					img#logo(src="/images/rishonim/logo.jpg")
				div.col-10
					div.row
						div.col-8.caligraphic(style="padding-bottom:15px;font-size:2.7em") Всегда идем вперед!
						div.col-4.text-right(style="font-size:.8em")
							br
							div 0502643517
							div: a(href="mailto:rishonim.center@gmail.ru") rishonim.center@gmail.ru
					table#topmenu(cellpadding=0 cellspacing=0)
						tr
							td
								a(href="#") Иврит
							td
								svg(width="53px" height="30px")
									line(x1="0" y1="100%" x2="60%" y2="20%" style="stroke:white;stroke-width:1")
							td
								a(href="#") Коучинг
							td
								svg(width="53px" height="30px")
									line(x1="0" y1="100%" x2="60%" y2="20%" style="stroke:white;stroke-width:1")
							td
								a(href="#") Отзывы
							td.triangle(style="width:23px")
								img(src="/images/rishonim/top-menu-triangle.svg?" + new Date())

					div#grayquote.text-right.float-right
						div Я так давно хотела попасть на такой сеанс, мечтала и искала
						span Марина Хельми













			block content












			div.text-center(style="padding:30px;background:url(/images/rishonim/green-corner.svg)no-repeat left top; " + "margin:10px 90px; font-size:2.4em").
				ПОМОГАЯ другим достигнуть ЦЕЛЬ, ты помогаешь, в первую очередь, СЕБЕ
			div(style="position: relative;top: -340px;left:629px;height:0")
				div(style="position: absolute; width: 300px; height: 300px; background: url(/images/rishonim/green-corner.svg) 0 0 no-repeat;transform: rotate(180deg)")



			div#otzyvy
				div.otzyv
					div Отзыв
				div.otzyv
					div Отзыв
				div.otzyv
					div Отзыв
				div.otzyv
					div Отзыв


			div.znanie-uverennost(style="width:600px;margin:auto")
				div.znanie-border(style="font-size:1.7em;text-align:left;padding:10px") Сделай ПЕРВЫЙ шаг
					br
					| к твоему УСПЕХУ

				img(src="/images/rishonim/pervyshag.jpg" style="left:60px")

			div.row(style="margin-top:40px")
				div.col-6
					//include google-map.html
				div.col-6(style="padding-top:90px")
					div Нагария
					div Гаатон, 1
					div тел. + 972 50-596-5120
					div тел. + 972 50-647-4172



			div.text-center(style="margin: 40px 0;font-size:1.7em") Звоните нам!
				div(style="font-size:1.8em;color:brown") 0502641753

			div.caligraphic.text-center(style="font-size:1.9em")
				span(style="color:brown") Мы
				|
				| не единственные, мы -
				|
				span(style="color:brown") Первые!